* {outline:0;}

$inputBdb:#ddd;
$inputpcolor: #000;
$inputbg1:#ddd;
$inputbg2:transparent;
$inputfz:14px;


header{
    padding: 40px 0;
    height: 40px;
    background: darkgray;
    h1{
        text-align:center;
    }

}

.title{
    text-align: center;
    margin-bottom: 40px;
}

.memeber-content{
    width: 1000px;
    margin: 40px auto;
}

//기본 input,select style
input[type="text"],
input[type="password"],
select{
    width: 100%;
    height: 40px;
    padding-left: 10px;
    border: 1px solid $inputbg1;
    font-size: $inputfz;
    box-sizing: border-box;
}
//input,select box
.input__box{
    position: relative;
}
.select_box{
    select{
        @include background-image(select-arrow + '.png',$position:right center);
        appearance: none;
    }
}




//체크박스
.check__box {
    position: relative;
    input[type="checkbox"]{
        @include position(absolute, $top: 0, $left: 0);
        width: 0;
        height: 0;
        &:checked + label{
            @include background-image(check_on + '.png');
        }
    }
    label{
        @include position(relative, $top: 0, $left: 0);
        display:inline-block;
        min-width: 20px;
        min-height: 20px;
        padding: 0 0 0 27px;
        @include background-image(check_off + '.png');
        &:hover{
            @include background-image(check_over + '.png');
        }
    }
}

//테이블
.basic__table{
    width: 100%;
    tr{
        + tr td{
            padding-top: 10px;
        }
        .check__box{
            @include memberinfo(right);
        }
    }
    .cell{
        font-size: 0;
       > * {
           display: inline-block;
           margin-right: 10px;
           font-size: 13px;
           &:last-child{
               margin: 0;
           }
       }
       + .cell{
           padding-top: 10px;
       }
    }
    .btn{
        width: 120px;
        height: 40px;
        vertical-align: top;
        border: 1px solid;
        box-sizing: border-box;
        font-size: 13px;
    }
}

.input-size1{@include size(450px !important);}
.input-size2{@include size(417px !important);}
.input-size3{@include size(220px !important);}
.input-size4{@include size(134px !important);}


//로그인 
.login__area{
    width: 450px;
    margin: 0 auto;
    .input__box{
        & + .input__box{
            margin-top: 15px;
        }
        input{
            @include inputdirec(holder);
        }
    }
    .id-check{
        overflow: hidden;
        margin-top: 15px;
        span{
            float: left;
        }
        a{
            float: right;
        }
    }
}

//애니메이션 테스트용
.basic__table{
    .one input{
        @include inputdirec(bottom);
    }
    .two input{
        @include inputdirec(all);
    }
    .three input{
        @include inputdirec(bg);
    }
    .four input{
        @include inputdirec(bd);
    }
    .five input{
        @include inputdirec(hv);
    }
}

