* {outline:0;}

$inputBdb:#222;
$inputpcolor: #C83845;
$inputbg1:rgb(116,116,116);
$inputbg2:transparent;
$inputfz:14px;



//기본 mixin 
@mixin transition($property,$duration,$ease){
	-webkit-transition: $property $duration $ease;
	-moz-transition: $property $duration $ease;
	-o-transition: $property $duration $ease;
	transition: $property $duration $ease;
}
@mixin transition-d($delay){
	-webkit-transition-delay: $delay;
	-moz-transition-delay: $delay;
	-o-transition-delay: $delay;
	transition-delay: $delay;
}
@mixin background-image($filename, $base-dir: '/images/',$position:0 0) {
    background-image: url($base-dir + $filename);
    background-position:$position;
    background-repeat: no-repeat;
}
@mixin btn($lineh){
    display: block;
    height: 100%;
    line-height: $lineh + px;
    text-align: center;
    font-size: 14px;
    box-sizing: border-box;
}

@mixin btn_direc($direc){
    @if $direc == 'right' {
        position: absolute;
        top: 0;
        right: 0;
        width: 150px;
        height: 60px;
    }@else if $direc == 'bottom' {
        width: 100%;
        height: 40px;
        margin-top: 20px;
    }
}

//원형 
@mixin circle($width,$height,$bg){
    width: $width + px;
    height: $height + px;
    border-radius: 100%;
    background: $bg;
}
//스텝리스트 기본
@mixin stepbase{
    display: inline-block;
    line-height: 100px;
    text-align: center;
    color:#000;
    font-size: 14px;
}

//input-box 기본 설정
@mixin input_box($width,$height){
    position: relative;
    width:$width + px;
    height: $height + px;
    margin: 10px 0;
    border: 0;
    border-bottom: 2px solid $inputBdb;
    box-sizing: border-box;
}
//밑에서 바가 지나갈경우
@mixin bottombar($bt,$height){
    position: absolute;
    left: 0;
    bottom: $bt + px;
    width: 0;
    height: $height + px;
    background-color:$inputpcolor;
    @include transition(all, 0.2s, ease);     
}
//전체 감싸는 바 -베이스
@mixin allbar($direc,$width,$height){
	content: ""; 
	position: absolute; 
	top: 0;
	#{$direc}: 0;
	width: $width + px; 
	height: $height + px;
	background-color:$inputpcolor;
    @include transition(all, 0.2s, ease);     
}
@mixin allbarcommon{
    ~ .bar--all::after, ~ .bar--all::before{
        @content;
    }
}
@mixin allbar_i_common{
    ~ .bar--all i::after, ~ .bar--all i::before{
        @content;
    }
}
//input 백그라운드
@mixin allbg(){
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: $inputbg1;
    opacity: 0;
    z-index: -1;
    @include transition(all, 0.2s, ease); 
}
//라벨 -베이스
@mixin inputlabel($val,$color){
    position: absolute;
    left: 0;
    width: 100%;
    top:$val + px;
    color: $color;
    z-index: -1;
    @include transition(all, 0.2s, ease);
}
//focus
@mixin focus{
    &:focus{
        @content;
    }
}


.memeber-content{   
    position: relative;
    width: 500px;
    margin: 100px auto 0;
}
//스텝박스
.member-step{
    font-size: 0;
    text-align: center;
    li{
        @include stepbase;
        @include circle(100,100,rgb(255,255,255));
        border:1px solid rgb(0,0,0);
        + li{
            margin-left: 10px;
            
        }
    }
}

//input,select 애니 
.input__box{
    @include input_box(500,30);
    input,select{
        width: 100%;
        height: 100%;
        font-size: $inputfz;
        background: transparent;
        border:0;
        @include focus{
            ~ .bar--bottom{
                width: 100%;
                @include transition(all, 0.4s, ease);
            }
            @include allbarcommon{
                width: 100%; 
                @include transition(all, 0.2s, ease);
                transition-delay: 0.6s;
            }
            @include allbar_i_common{
                height: 100%; 
                @include transition(all, 0.2s, ease);
            }
            ~ .bar--all:after{
                @include transition-d(0.2s);
            }
            ~ .bar--all i:after{
                @include transition-d(0.4s);
            }
            ~ .bar--bg{
                opacity: .2;
                @include transition(all, 0.4s, ease);         
            }
            ~ label{
                top: -10px;
                @include transition(all, 0.4s, ease); 
            }
        }
        @include allbarcommon{
            @include allbar(right,0,2);
            @include transition-d(0.2s);
        }
        @include allbar_i_common{
            @include allbar(left,2,0);
        }
        ~ .bar--all::after{
            top: auto; 
            bottom: 0; 
            right: auto; 
            left: 0; 
            transition-delay: 0.6s;            
        }
        ~ .bar--all i::after{
            left: auto;
            right: 0; 
            top: auto; 
            bottom: 0; 
            transition-delay: 0.4s;         
        }
        &:valid ~ label {
            top: -10px;
        }
    }
    label{
        @include inputlabel(5,red);
    }
    .bar--bottom{
        @include bottombar(-2,2);
    }
    .bar--bg{
        @include allbg();
    }
}

//로그인 버튼
.btn{
    font-size: 0;
    @include btn_direc(bottom);
    a{
        @include btn(40);
        background: powderblue;
        color: #fff;;
    }
}

//체크박스
.check__box {
    position: relative;
    input[type="checkbox"]{
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 0;
        &:checked + label{
            @include background-image(check_on + '.png');
        }
    }
    label{
        position: relative;
        top: 0;
        left:0;
        display:inline-block;
        min-width: 20px;
        min-height: 20px;
        padding: 0 0 0 27px;
        @include background-image(check_off + '.png');
        &:hover{
            @include background-image(check_over + '.png');
        }
    }
}

//아이디저장
.login__check{
    margin-top: 10px;
    overflow: hidden;
    .check__box{
        float: left;
    }
    > a{
        float: right;
    }
}


//번호입력 
.phone__box{
    font-size: 0;
    .input__box{
        @include input_box(160,30);
        display:inline-block;
        font-size: 14px;
        + .input__box{
            margin-left: 10px;
        }
    }
    .hypen{
        position: absolute;
        left: -5px;
        top: 0;
    }
}


.new__form{
    position: relative;
    .input__box{
        @include input_box(280,30);
    }
    .btn{
        @include btn_direc(right);
    }
}



